.game-container {
    border: 1px solid #1e1e1e;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 20px 2px cyan;
    border-radius: 8px;
}

.game-title {
    margin-top: 10px;
    margin-bottom: 30px;
}

.score-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.score {
    border-radius:  3px;
    padding: 0 8px;
    color: white;
}

.correct{
    background-color: green;
}

.wrong{
    background-color: red;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.option-button {
    margin-top: 10px;
    padding: 10px 20px;
    width: 300px;
    font-size: 1.2em;
    background-color: #3a3a3a;
    text-align: left;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.option-button:hover {
    box-shadow: 0 0 8px 2px cyan;
}

.option-button:disabled {
    cursor: not-allowed;
}

.correct-option {
    background-color: #4caf50;
    font-weight: bold;
}